@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #000000;
}

@font-face {
    font-family: 'Agu';
    src: url('public/Fonts/Agussans.otf') format('truetype');
}
@font-face {
    font-family: 'Black';
    src: url('public/Fonts/Blackpast.ttf') format('truetype');
}
@font-face {
    font-family: 'Cho';
    src: url('public/Fonts/Chovilane.otf') format('truetype');
}
@font-face {
    font-family: 'Hel';
    src: url('public/Fonts/Helvetica.ttf') format('truetype');
}
@font-face {
    font-family: 'honer';
    src: url('public/Fonts/honer-those.otf') format('truetype');
}
@font-face {
    font-family: 'Rale';
    src: url('public/Fonts/Raleway.ttf') format('truetype');
}
@font-face {
    font-family: 'Navi';
    src: url('public/Fonts/Naville-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monu';
    src: url('public/Fonts/Monument.ttf') format('truetype');
}
@font-face {
    font-family: 'Mlu';
    src: url('public/Fonts/Mluvka.ttf') format('truetype');
}
@font-face {
    font-family: 'magic';
    src: url('public/Fonts/magic-flavour.otf') format('truetype');
}
@font-face {
    font-family: 'LTV';
    src: url('public/Fonts/LTVeritas.ttf') format('truetype');
}
@font-face {
    font-family: 'hook';
    src: url('public/Fonts/hookana.ttf') format('truetype');
}