@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #000000;
}

@font-face {
    font-family: 'Agussans';
    src: url('public/Fonts/Agussans.otf') format('truetype');
}
@font-face {
    font-family: 'Blackpast';
    src: url('public/Fonts/Blackpast.ttf') format('truetype');
}
@font-face {
    font-family: 'Chovilane';
    src: url('public/Fonts/Chovilane.otf') format('truetype');
}
@font-face {
    font-family: 'Helvetica';
    src: url('public/Fonts/Helvetica.ttf') format('truetype');
}
@font-face {
    font-family: 'honer-those';
    src: url('public/Fonts/honer-those.otf') format('truetype');
}
@font-face {
    font-family: 'Raleway';
    src: url('public/Fonts/Raleway.ttf') format('truetype');
}
@font-face {
    font-family: 'Naville-Regular';
    src: url('public/Fonts/Naville-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Monument';
    src: url('public/Fonts/Monument.ttf') format('truetype');
}
@font-face {
    font-family: 'Mluvka';
    src: url('public/Fonts/Mluvka.ttf') format('truetype');
}
@font-face {
    font-family: 'magic-flavour';
    src: url('public/Fonts/magic-flavour.otf') format('truetype');
}
@font-face {
    font-family: 'LTVeritas';
    src: url('public/Fonts/LTVeritas.ttf') format('truetype');
}
@font-face {
    font-family: 'hookana';
    src: url('public/Fonts/hookana.ttf') format('truetype');
}