@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #000000;
}

@font-face {
    font-family: 'font1';
    src: url('public/Fonts/Agussans.otf') format('truetype');
}
@font-face {
    font-family: 'font2';
    src: url('public/Fonts/Blackpast.ttf') format('truetype');
}
@font-face {
    font-family: 'font3';
    src: url('public/Fonts/Chovilane.otf') format('truetype');
}
@font-face {
    font-family: 'font4';
    src: url('public/Fonts/Helvetica.ttf') format('truetype');
}
@font-face {
    font-family: 'font5';
    src: url('public/Fonts/honer-those.otf') format('truetype');
}
@font-face {
    font-family: 'font6';
    src: url('public/Fonts/Raleway.ttf') format('truetype');
}
@font-face {
    font-family: 'font7';
    src: url('public/Fonts/Naville-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'font8';
    src: url('public/Fonts/Monument.ttf') format('truetype');
}
@font-face {
    font-family: 'font9';
    src: url('public/Fonts/Mluvka.ttf') format('truetype');
}
@font-face {
    font-family: 'font10';
    src: url('public/Fonts/magic-flavour.otf') format('truetype');
}
@font-face {
    font-family: 'font11';
    src: url('public/Fonts/LTVeritas.ttf') format('truetype');
}
@font-face {
    font-family: 'font12';
    src: url('public/Fonts/hookana.ttf') format('truetype');
}
@font-face {
    font-family: 'font13';
    src: url('./Fonts/Alice-Fairy-DEMO-BF674d2a4894c75.ttf') format('truetype');
}
@font-face {
    font-family: 'font14';
    src: url('./Fonts/Aveline-zrjPl.ttf') format('truetype');
}
@font-face {
    font-family: 'font15';
    src: url('./Fonts/Legand.otf') format('truetype');
}