@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    background-color: #000000;
}

@font-face {
    font-family: 'agu';
    src: url('public/Fonts/Agussans.otf') format('truetype');
}
@font-face {
    font-family: 'black';
    src: url('public/Fonts/Blackpast.ttf') format('truetype');
}
@font-face {
    font-family: 'cho';
    src: url('public/Fonts/Chovilane.otf') format('truetype');
}
@font-face {
    font-family: 'hel';
    src: url('public/Fonts/Helvetica.ttf') format('truetype');
}
@font-face {
    font-family: 'honer';
    src: url('public/Fonts/honer-those.otf') format('truetype');
}
@font-face {
    font-family: 'rale';
    src: url('public/Fonts/Raleway.ttf') format('truetype');
}
@font-face {
    font-family: 'navi';
    src: url('public/Fonts/Naville-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'monu';
    src: url('public/Fonts/Monument.ttf') format('truetype');
}
@font-face {
    font-family: 'mlu';
    src: url('public/Fonts/Mluvka.ttf') format('truetype');
}
@font-face {
    font-family: 'magic';
    src: url('public/Fonts/magic-flavour.otf') format('truetype');
}
@font-face {
    font-family: 'ltv';
    src: url('public/Fonts/LTVeritas.ttf') format('truetype');
}
@font-face {
    font-family: 'hook';
    src: url('public/Fonts/hookana.ttf') format('truetype');
}